* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding:  30px 25px;
}

img{
  height: 100px;
}

nav >h3{
  color: #61DAFB;
  font-size: 24px;
}